.storeHours > li {
  display: grid;
  grid-column-gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  grid-template-columns: 10rem auto;
}
.grid1 {
  text-align: right;
}

.qr-wrapper {
  width: 20rem;
  height: 20rem;
  margin: 4rem;
}
.qr-wrapper img {
  width: inherit;
  height: inherit;
}
